<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Snapshot Create Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/b3b89cf277.js" crossorigin="anonymous"></script>

</head>
<style>
    * {
        font-family: cursive;
    }


    .active {
        font-weight: bold;
    }

    .hoP {
        position: fixed;
        left: 5%;
        top: 0;
        width: 0;
        overflow: hidden;
        transition: all 0.6s linear;
        background: white;
    }

    @media screen and (max-width:500px) {
        .notmobile {
            display: none;
        }

        .mobile {
            width: 100%;
        }

        .hoP {
            width: 100%;
            left: 0;
        }

        form {
            width: 100%;
        }
    }

    .bot {
        position: fixed;
        bottom: 0;
        z-index: 99999999999999999999999999;
    }

    @media screen and (min-width:500px) {
        .bot {
            display: none;
        }
    }

    .reduceMotionToggle {
        width: 4em;
        height: auto;
        color: #000000;
    }

    .st-reduceMotionToggleBtn {
        position: relative;
        cursor: pointer;
    }

    .st-reduceMotionToggleBtn .reduceMotionToggleInput {
        position: absolute;
        opacity: 0;
        width: inherit;
    }

    .st-reduceMotionToggleBtn svg {
        cursor: pointer;
        height: 3rem;
        width: -webkit-fill-available;
    }

    .st-reduceMotionToggleBtn svg .line {
        transform: scaleX(0);
    }

    .st-reduceMotionToggleBtn .reduceMotionToggleInput:not(:checked)+svg .ballTrace {
        animation: ballTrace_toggleMotionOff9371A 0.3s ease 0s 1 forwards,
            ballTrace_toggleMotionOff9371B 0.1s steps(2, end) calc(0.32s + var(--_appearOffset)) 1 forwards;
    }

    .st-reduceMotionToggleBtn .reduceMotionToggleInput:not(:checked)+svg .ball {
        animation: ball_toggleMotionOn9371A 0.3s ease 0s 1 forwards,
            ball_toggleMotionOn9371B 0.4s cubic-bezier(0.165, 0.84, 0.45, 1.11) 0.3s 1 forwards;
    }

    .st-reduceMotionToggleBtn .reduceMotionToggleInput:checked+svg circle {
        animation: ball_toggleMotionOff9371 0.9s linear 0s 1 forwards;
    }

    .st-reduceMotionToggleBtn .reduceMotionToggleInput:checked+svg .line {
        animation: line_toggleMotionOff9371 0.32s cubic-bezier(0.075, 0.82, 0.165, 1) 0.47s 1 forwards;
    }

    @keyframes ball_toggleMotionOff9371 {
        0% {
            transform: translateX(0px);
        }

        6.66% {
            transform: translateX(calc(var(--_toCenterXOffset) * 0.45));
        }

        13.33% {
            transform: translateX(calc(var(--_toCenterXOffset) * 0.77));
        }

        20% {
            transform: translateX(calc(var(--_toCenterXOffset) * 0.9));
        }

        26.66% {
            transform: translateX(calc(var(--_toCenterXOffset) * 0.94));
        }

        33.33% {
            transform: translate(calc(var(--_toCenterXOffset) * 0.965 + 1px), 2px);
        }

        35% {
            transform: translate(calc(var(--_toCenterXOffset) * 0.988), 1px);
        }

        37% {
            transform: translate(calc(var(--_toCenterXOffset) * 0.991 + 1px), -1px);
        }

        39% {
            transform: translate(calc(var(--_toCenterXOffset) * 0.995 - 1px), -2px);
        }

        41% {
            transform: translate(calc(var(--_toCenterXOffset) * 0.999 + 1px), -1px);
        }

        43% {
            transform: translate(calc(var(--_toCenterXOffset) * 0.75), 1px);
        }

        45% {
            transform: translate(calc(var(--_toCenterXOffset) * 0.5), 0px);
        }

        100% {
            transform: translate(calc(var(--_toCenterXOffset) * 0.5), 0px);
        }
    }

    @keyframes line_toggleMotionOff9371 {
        0% {
            transform: scaleY(0);
        }

        100% {
            transform: scaleY(1);
        }
    }

    @keyframes ball_toggleMotionOn9371A {
        0% {
            transform: translate(calc(var(--_toCenterXOffset) * 0.5), 0px);
        }

        100% {
            transform: translate(calc(var(--_toCenterXOffset) - 5.67px), 0px);
        }
    }

    @keyframes ball_toggleMotionOn9371B {
        0% {
            transform: translate(calc(var(--_toCenterXOffset) - 5.67px), 0px);
        }

        100% {
            transform: translate(0px, 0px);
        }
    }

    @keyframes ballTrace_toggleMotionOff9371A {
        0% {
            opacity: 1;
            transform: translate(calc(var(--_toCenterXOffset) * 0.5), 0px);
        }

        99.9% {
            opacity: 1;
            transform: translate(calc(var(--_toCenterXOffset) - 5.67px), 0px);
        }

        100% {
            opacity: 0;
            transform: translate(calc(var(--_toCenterXOffset) - 5.67px), 0px);
        }
    }

    @keyframes ballTrace_toggleMotionOff9371B {
        0% {
            opacity: 0;
            transform: translate(0px, 0px);
        }

        100% {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }

    .load {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 9999999999999999999999999999;
        height: 100vh;
        background: rgba(0, 0, 0, 0.838);
    }

    .loader {
        width: 20px;
        overflow: visible;
        transform: rotate(-90deg);
        transform-origin: center;
        --active: #ff0000;
        height: auto;
        --track: #f2d4fe;
        --duration: 8s;
        animation: spin 2s linear infinite;
    }

    .gry {
        --active: #616161;
    }

    @keyframes spin {
        0% {
            rotate: 0deg;
        }

        100% {
            rotate: 360deg;
        }
    }

    .active {
        stroke: var(--active);
        stroke-linecap: round;
        stroke-dashoffset: 360;
        animation: active-animation var(--duration) ease-in-out infinite;
    }

    @keyframes active-animation {
        0% {
            stroke-dasharray: 0 0 0 360 0 360;
        }

        12.5% {
            stroke-dasharray: 0 0 270 90 270 90;
        }

        25% {
            stroke-dasharray: 0 270 0 360 0 360;
        }

        37.5% {
            stroke-dasharray: 0 270 270 90 270 90;
        }

        50% {
            stroke-dasharray: 0 540 0 360 0 360;
        }

        50.001% {
            stroke-dasharray: 0 180 0 360 0 360;
        }

        62.5% {
            stroke-dasharray: 0 180 270 90 270 90;
        }

        75% {
            stroke-dasharray: 0 450 0 360 0 360;
        }

        87.5% {
            stroke-dasharray: 0 450 270 90 270 90;
        }

        87.501% {
            stroke-dasharray: 0 90 270 90 270 90;
        }

        100% {
            stroke-dasharray: 0 360 1 360 0 360;
        }
    }

    .track {
        stroke: var(--track);
        stroke-linecap: round;
        stroke-dashoffset: 360;
        animation: track-animation var(--duration) ease-in-out infinite;
    }

    @keyframes track-animation {
        0% {
            stroke-dasharray: 0 20 320 40 320 40;
        }

        12.5% {
            stroke-dasharray: 0 290 50 310 50 310;
        }

        25% {
            stroke-dasharray: 0 290 320 40 320 40;
        }

        37.5% {
            stroke-dasharray: 0 560 50 310 50 310;
        }

        37.501% {
            stroke-dasharray: 0 200 50 310 50 310;
        }

        50% {
            stroke-dasharray: 0 200 320 40 320 40;
        }

        62.5% {
            stroke-dasharray: 0 470 50 310 50 310;
        }

        62.501% {
            stroke-dasharray: 0 110 50 310 50 310;
        }

        75% {
            stroke-dasharray: 0 110 320 40 320 40;
        }

        87.5% {
            stroke-dasharray: 0 380 50 310 50 310;
        }

        100% {
            stroke-dasharray: 0 380 320 40 320 40;
        }
    }

    .loaer {
        --path: #ffffff;
        --dot: #ee2828;
        --duration: 3s;
        width: 44px;
        height: 44px;
        position: relative;
    }

    .loaer:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        display: block;
        background: var(--dot);
        top: 37px;
        left: 19px;
        transform: translate(-18px, -18px);
        animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loaer svg {
        display: block;
        width: 100%;
        height: 100%;
    }

    .loaer svg rect,
    .loaer svg polygon,
    .loaer svg circle {
        fill: none;
        stroke: var(--path);
        stroke-width: 10px;
        stroke-linejoin: round;
        stroke-linecap: round;
    }

    .loaer svg polygon {
        stroke-dasharray: 145 76 145 76;
        stroke-dashoffset: 0;
        animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loaer svg rect {
        stroke-dasharray: 192 64 192 64;
        stroke-dashoffset: 0;
        animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loaer svg circle {
        stroke-dasharray: 150 50 150 50;
        stroke-dashoffset: 75;
        animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    .loaer.triangle {
        width: 48px;
    }

    .loaer.triangle:before {
        left: 21px;
        transform: translate(-10px, -18px);
        animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }

    @keyframes pathTriangle {
        33% {
            stroke-dashoffset: 74;
        }

        66% {
            stroke-dashoffset: 147;
        }

        100% {
            stroke-dashoffset: 221;
        }
    }

    @keyframes dotTriangle {
        33% {
            transform: translate(0, 0);
        }

        66% {
            transform: translate(10px, -18px);
        }

        100% {
            transform: translate(-10px, -18px);
        }
    }

    @keyframes pathRect {
        25% {
            stroke-dashoffset: 64;
        }

        50% {
            stroke-dashoffset: 128;
        }

        75% {
            stroke-dashoffset: 192;
        }

        100% {
            stroke-dashoffset: 256;
        }
    }

    @keyframes dotRect {
        25% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(18px, -18px);
        }

        75% {
            transform: translate(0, -36px);
        }

        100% {
            transform: translate(-18px, -18px);
        }
    }

    @keyframes pathCircle {
        25% {
            stroke-dashoffset: 125;
        }

        50% {
            stroke-dashoffset: 175;
        }

        75% {
            stroke-dashoffset: 225;
        }

        100% {
            stroke-dashoffset: 275;
        }
    }

    .loaer {
        display: inline-block;
        margin: 0 16px;
    }

    .bot {
        position: fixed;
        bottom: 0px;
        padding-bottom: 10px;
        z-index: 99999999999999999999999999;
    }

    .Suggestion {
        position: fixed;
        right: 0;
        top: 0;
    }
</style>

<body class="h-[100vh]">

    <div class="load invisible">
        <div class="loaer">
            <svg viewBox="0 0 80 80">
                <circle r="32" cy="40" cx="40" id="test"></circle>
            </svg>
        </div>

        <div class="loaer triangle">
            <svg viewBox="0 0 86 80">
                <polygon points="43 8 79 72 7 72"></polygon>
            </svg>
        </div>

        <div class="loaer">
            <svg viewBox="0 0 80 80">
                <rect height="64" width="64" y="8" x="8"></rect>
            </svg>
        </div>

    </div>

    <div class="flex flex-col gap-2 sm:flex-col sm:items-center w-[100%] h-[100vh]">

        <div class="flex w-[100%] h-[100vh] gap-10">
            <aside
                class="hidden md:flex h-[100vh] bts4 md:w-[220px] flex-col gap-4 nav2 py-4 px-3 border-r border-black bg-white buttonBar">

                <div class="flex flex-row items-center gap-2 pt-5">
                    <img src="https://res.cloudinary.com/ddiyrbync/image/upload/v1767356520/ChatGPT_Image_Jan_2_2026_05_50_04_PM_xpxaqz.jpg"
                        class="size-10" style="object-fit: cover;" alt="">
                    <span class="overflow-hidden">Snapshot</span>
                </div>
                <a href="/" class=" border-1 border-solid border-white p-2 rounded-lg flex gap-3 items-center">
                    <svg aria-label="Home" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img"
                        viewBox="0 0 24 24" width="24">
                        <title>Home</title>
                        <path
                            d="m21.762 8.786-7-6.68C13.266.68 10.734.68 9.238 2.106l-7 6.681A4.017 4.017 0 0 0 1 11.68V20c0 1.654 1.346 3 3 3h5.005a1 1 0 0 0 1-1L10 15c0-1.103.897-2 2-2 1.09 0 1.98.877 2 1.962L13.999 22a1 1 0 0 0 1 1H20c1.654 0 3-1.346 3-3v-8.32a4.021 4.021 0 0 0-1.238-2.894ZM21 20a1 1 0 0 1-1 1h-4.001L16 15c0-2.206-1.794-4-4-4s-4 1.794-4 4l.005 6H4a1 1 0 0 1-1-1v-8.32c0-.543.226-1.07.62-1.447l7-6.68c.747-.714 2.013-.714 2.76 0l7 6.68c.394.376.62.904.62 1.448V20Z">
                        </path>
                    </svg>
                    <span class="overflow-hidden">Home</span>
                </a>
                <a href="/profile"
                    class=" border-1 border-solid border-white p-2 rounded-xl hover:bg-zinc-100 flex gap-3 items-center">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="w-6 h-6">
                        <path
                            d="M12 12c2.761 0 5-2.239 5-5S14.761 2 12 2 7 4.239 7 7s2.239 5 5 5Zm0 2c-3.315 0-10 1.663-10 5v3h20v-3c0-3.337-6.685-5-10-5Z" />
                    </svg>
                    <span class="overflow-hidden">Profile</span>
                </a>

                <a href="/post/post" class="p-2 rounded-lg  bg-zinc-100  hover:bg-zinc-100 flex gap-3 items-center">
                    <svg viewBox="0 0 24 24" class="w-6 h-6">
                        <rect x="3" y="3" width="18" height="18" rx="3" fill="currentColor" />
                        <path d="M12 8v8" stroke="white" stroke-width="2" stroke-linecap="round" />
                        <path d="M8 12h8" stroke="white" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    <span class="overflow-hidden">Post</span>
                </a>

                <a href="/message/message" class="p-2 rounded-lg hover:bg-zinc-100 flex gap-3 items-center">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="w-6 h-6">
                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" />
                    </svg>
                    <span class="overflow-hidden">Message</span>
                </a>

                <button id="notif"
                    class="p-2 rounded-lg text-sm cursor-pointer  hover:bg-zinc-100 flex gap-3 items-center">
                    <i class="fa-regular fa-heart fa-xl cursor-pointer" style="color: #000000;"></i>
                    <span class="overflow-hidden">Notification</span>
                </button>

                <a href="/logout" class="p-2 rounded-lg hover:bg-zinc-100 flex gap-3 items-center mt-auto">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="w-6 h-6">
                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                        <path d="M16 17l5-5-5-5" />
                        <path d="M21 12H9" />
                    </svg>
                    <span class="overflow-hidden">Logout</span>
                </a>

            </aside>

            <div class="flex flex-col gap-6 sm:items-center items-center rounded-xl text-1xl w-[70%] mobile h-[100vh]">
                <h1
                    class="text-4xl font-mono mt-7 underline decoration-1 decoration-white text-zinc-700 dark:text-zinc-400">
                    Create Post
                </h1>

                <div enctype="multipart/form-data"
                    class="w-full max-w-4xl mx-auto border border-zinc-200 bg-white rounded-xl overflow-hidden shadow flex flex-col lg:flex-row">

                    <div class="w-full lg:w-1/2">
                        <label for="fileInput" id="dropArea"
                            class="w-full h-[300px] lg:h-[400px] flex items-center justify-center cursor-pointer overflow-hidden border-b lg:border-b-0 lg:border-r border-gray-300 hover:bg-gray-100">

                            <span id="uploadText" class="text-gray-500 text-sm">
                                Drag & Drop Image or Click to Upload
                            </span>

                            <img id="preview" class="hidden w-full h-full object-cover" />
                            <input type="file" id="fileInput" name="post" accept="image/*" class="hidden" required>
                        </label>

                    </div>
                    <div class="p-4 flex flex-col gap-5 w-full lg:w-1/2">

                        <input type="text" name="postname"
                            class="w-full p-2 bg-gray-100 postname border border-gray-300 rounded-lg text-sm outline-none"
                            placeholder="Write a caption..." required>

                        <textarea
                            class="w-full p-2 bg-gray-100 border discription border-gray-300 rounded-lg text-sm outline-none resize-none h-28"
                            placeholder="Description (optional)"></textarea>
                        <div class="flex flex-col gap-2">
                            <label class="text-sm text-sky-600 cursor-pointer">
                                🎵 Add Song (optional)
                                <input type="file" id="songInput" accept="audio/*" class="hidden">
                            </label>

                            <audio id="songPreview" controls class="hidden w-full"></audio>
                        </div>

                        <div class="flex gap-2 justify-center items-center">
                            <input class="isPublic" type="checkbox" />
                            <p>Private Post</p>
                        </div>

                        <button
                            class="w-full submit bg-sky-500 text-center hover:bg-sky-600 text-white p-2 rounded-lg cursor-pointer text-sm">Post</button>
                    </div>
                </div>

            </div>

            <div
                class="hoP flex flex-col gap-3 rounded-r-xl mainq sm:items-center hidden items-center border-l-1 border-zinc-400 w-0 text-1xl h-[97.5vh] p-4">
                <p class="w-[100%] text-2xl text-bold">Notifications</p>
                <div
                    class="overflow-y-scroll addnot w-[100%] overflow-x-hidden h-[100%] scrollbar-hide-inline [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]">
                    <% if (requestUser.length> 0) {%>
                        <div class="flex flex-col gap-5 mb-4">
                            <% requestUser.forEach(request=> {%>
                                <div class="w-[100%] flex flex-row items-center items-justify-between gap-5">
                                    <div class="w-[50px] h-[-webkit-fill-available] rounded-[50%] overflow-hidden">
                                        <p class="size-10"><img src="<%= request.image_src %>"
                                                class="rounded-[50%] border-1 border-gray-400 border-solid"
                                                style="width: 100%; height: 100%; object-fit: cover;" alt="">
                                        </p>
                                    </div>
                                    <span class="flex flex-col text-sm w-[50%]">
                                        <p>
                                            <%=request.Username %>
                                        </p>
                                        <p class="text-zinc-600">
                                            <%=request.First_name %>
                                        </p>
                                    </span>
                                    <div class="flex flex-row gap-2 bt3">
                                        <button
                                            class="confirm px-2 py-1 border-1 border-black border-solid rounded-2xl text-xs text-sky-500 hover:text-sky-700 cursor-pointer">Confirm
                                            <input type="hidden" name="" value="<%=request.Id %>" id=""></button>
                                        <button
                                            class="decline px-2 py-1 border-1 border-black border-solid rounded-2xl text-xs text-sky-500 hover:text-sky-700 cursor-pointer">Decline
                                            <input type="hidden" name="" value="<%=request.Id %>" id=""></button>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                        <% } else{%>
                            <div class="_aajq flex flex-col pb-3 justify-center items-center w-[100%] text-center">
                                <div class="_aajr"><svg aria-label="Activity On Your Posts"
                                        class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="62" role="img"
                                        viewBox="0 0 96 96" width="62">
                                        <title>Activity On Your Posts</title>
                                        <circle cx="48" cy="48" fill="none" r="47" stroke="currentColor"
                                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                        </circle>
                                        <path
                                            d="M48 34.4A13.185 13.185 0 0 0 37.473 29a12.717 12.717 0 0 0-6.72 1.939c-6.46 3.995-8.669 12.844-4.942 19.766 3.037 5.642 16.115 15.6 20.813 19.07a2.312 2.312 0 0 0 2.75 0c4.7-3.47 17.778-13.428 20.815-19.07 3.728-6.922 1.517-15.771-4.943-19.766A12.704 12.704 0 0 0 58.527 29 13.193 13.193 0 0 0 48 34.4Z"
                                            fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2"></path>
                                    </svg></div>
                                <h2 class="_aajt"><span
                                        class="x1lliihq x1plvlek xryxfnj x1n2onr6 xyejjpt x15dsfln x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x5n08af x10wh9bi xpm28yp x8viiok x1o7cslx"
                                        dir="auto"
                                        style="--x---base-line-clamp-line-height: 18px; --x-lineHeight: 18px;">Activity
                                        On Your Posts</span></h2>
                                <h3 class="_aaju"><span
                                        class="x1lliihq x1plvlek xryxfnj x1n2onr6 xyejjpt x15dsfln x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x5n08af x10wh9bi xpm28yp x8viiok x1o7cslx"
                                        dir="auto"
                                        style="--x---base-line-clamp-line-height: 18px; --x-lineHeight: 18px;">When
                                        someone likes or comments on one of your posts, you'll see it here.</span>
                                </h3>
                            </div>
                            <% } %>

                                <p class="py-2 w-full">Suggsion for you</p>
                                <div class="flex flex-col gap-5">
                                    <% if (suggsionId) {%>
                                        <% suggsionId.forEach(request=> {%>
                                            <div
                                                class="w-[100%] flex flex-row items-center items-justify-between gap-5">
                                                <button
                                                    class="cursor-pointer userOther flex gap-3 flex-row w-[80%] text-left">
                                                    <p class="size-10"><img src="<%= request.image_src %>"
                                                            class="rounded-[50%] border-1 border-gray-400 border-solid"
                                                            style="width: 100%; height: 100%; object-fit: cover;"
                                                            alt="">
                                                    </p>
                                                    <input type="hidden" name="username" value="<%= request.Username %>"
                                                        id="">
                                                    <input type="hidden" name="Id" value="<%= request.Id %>" id="">
                                                    <span class="flex flex-col gap-1">
                                                        <p class="text-sm">
                                                            <%= request.Username %>
                                                        </p>
                                                        <p class="text-zinc-600 text-xs">
                                                            <%=request.First_name %>
                                                        </p>
                                                    </span>
                                                </button>

                                                <div class="flex flex-row gap-2 ">
                                                    <button
                                                        class="p-1 px-10 bg-sky-500 hover:bg-sky-700 cursor-pointer rounded-lg text-white text-sm follow">Follow
                                                        <input type="hidden" value="<%= request.Id %>">
                                                        <input type="hidden" value="<%= request.Username %>">
                                                        <input type="hidden" value="<%= request.First_name %>">
                                                        <input type="hidden" value="<%= request.image_src %>">
                                                    </button>
                                                </div>
                                            </div>
                                            <% }); %>
                                                <% } %>
                                </div>

                </div>
            </div>
        </div>

        <div class="flex flex-row gap-1 mt-1 bg-white w-[100%] justify-around sm:flex-row sm:items-center bot">
            <a href="/"
                class=" border-1 border-solid border-white p-2 rounded-lg hover:bg-zinc-100 flex gap-3 items-center">
                <svg aria-label="Home" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img"
                    viewBox="0 0 24 24" width="24">
                    <title>Home</title>
                    <path
                        d="m21.762 8.786-7-6.68C13.266.68 10.734.68 9.238 2.106l-7 6.681A4.017 4.017 0 0 0 1 11.68V20c0 1.654 1.346 3 3 3h5.005a1 1 0 0 0 1-1L10 15c0-1.103.897-2 2-2 1.09 0 1.98.877 2 1.962L13.999 22a1 1 0 0 0 1 1H20c1.654 0 3-1.346 3-3v-8.32a4.021 4.021 0 0 0-1.238-2.894ZM21 20a1 1 0 0 1-1 1h-4.001L16 15c0-2.206-1.794-4-4-4s-4 1.794-4 4l.005 6H4a1 1 0 0 1-1-1v-8.32c0-.543.226-1.07.62-1.447l7-6.68c.747-.714 2.013-.714 2.76 0l7 6.68c.394.376.62.904.62 1.448V20Z">
                    </path>
                </svg></a>

            <button id="notif" class="p-2 rounded-lg text-sm cursor-pointer  hover:bg-zinc-100 flex gap-3 items-center">
                <i class="fa-regular fa-heart fa-xl cursor-pointer" style="color: #000000;"></i>
            </button>
            <a href="/post/post"
                class=" border-1 border-solid border-white p-2 rounded-lg active bg-zinc-100 flex gap-3 items-center">
                <svg aria-label="Messages" class="x1lliihq x1n2onr6 x5n08af" fill="currentColor" height="24" role="img"
                    viewBox="0 0 24 24" width="24">
                    <title>Messages</title>
                    <path
                        d="M22.513 3.576C21.826 2.552 20.617 2 19.384 2H4.621c-1.474 0-2.878.818-3.46 2.173-.6 1.398-.297 2.935.784 3.997l3.359 3.295a1 1 0 0 0 1.195.156l8.522-4.849a1 1 0 1 1 .988 1.738l-8.526 4.851a1 1 0 0 0-.477 1.104l1.218 5.038c.343 1.418 1.487 2.534 2.927 2.766.208.034.412.051.616.051 1.26 0 2.401-.644 3.066-1.763l7.796-13.118a3.572 3.572 0 0 0-.116-3.863Z">
                    </path>
                </svg></a>
            <a href="/profile" class=" border-1 border-solid border-white p-2 rounded-xl flex gap-3 items-center">
                <i class="fa-regular fa-circle-user fa-xl" style="color: #000000;"></i></a>
        </div>
    </div>

    <script src="/js/script.js"></script>

    <script>
        const dropArea = document.getElementById("dropArea");
        const fileInput = document.getElementById("fileInput");
        const preview = document.getElementById("preview");
        const uploadText = document.getElementById("uploadText");
        let c = document.querySelector(".reduceMotionToggleInput");
        let svg = document.querySelector(".svg");
        let load = document.querySelector(".load");
        let submit = document.querySelector(".submit");
        let isPublic = document.querySelector(".isPublic");
        let discription = document.querySelector(".discription");
        let postname = document.querySelector(".postname");
        let songInput = document.getElementById("songInput");
        let songPreview = document.getElementById("songPreview");
        let songFile = null;

        let imgFile = null;

        songInput.addEventListener("change", () => {
            if (!songInput.files[0]) return;

            songFile = songInput.files[0];
            songPreview.src = URL.createObjectURL(songFile);
            songPreview.classList.remove("hidden");
        });

        fileInput.addEventListener("change", function (e) {
            if (this.files[0]) showPreview(this.files[0]);
        });

        dropArea.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropArea.classList.add("border-blue-500");
        });

        dropArea.addEventListener("dragleave", () => {
            dropArea.classList.remove("border-blue-500");
        });

        dropArea.addEventListener("drop", (e) => {
            e.preventDefault();
            dropArea.classList.remove("border-blue-500");

            let file = e.dataTransfer.files[0];
            fileInput.files = e.dataTransfer.files;

            if (file) showPreview(file);
        });

        function showPreview(file) {
            const reader = new FileReader();
            reader.onload = () => {
                preview.src = reader.result;
                preview.classList.remove("hidden");
                uploadText.classList.add("hidden");
            };
            imgFile = file;
            reader.readAsDataURL(file);
        }

        submit.addEventListener('click', async () => {
            load.classList.remove('invisible');
            let dta = new FormData();

            if (songFile) {
                dta.append("song", songFile);
            }
            dta.append("post", imgFile);
            dta.append("postname", postname.value);
            dta.append("discription", discription.value);
            dta.append("isPublic", isPublic.checked)

            let response = await fetch("/post/post", {
                method: "POST",
                body: dta
            });

            let data = await response.json();

            if (data.success) {
                load.classList.add('invisible');
                window.location.href = data.redirect;
            }
        });
    </script>
</body>

</html>